hr {
	border-color: black;
}

.boldUnderline {
	font-weight: bold;
	text-decoration: underline;
}

.container {
	background-color: #777675;
	margin: auto;
	padding: 10px;
	max-width: 900px;
	border: solid 2px black;
	text-align: center;
	border-radius: 20px;
	height: 600px;
}

.header {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.appContainer {
	display: flex;
	width: 100%;
}

.navItems {
	list-style: none;
	height: 100%;
	width: 20%;
	padding: 10px auto;
	padding-top: 60px;
}

.navButton {
	background-color: #cecbc7;
	margin: 8px;
	border-radius: 25px;
	border: solid 1px black;
	padding: 5px;
	box-shadow: 2px 2px 3px black;
}

.navButton:hover{
	background-color: white;
	cursor: pointer;
}

.imgContainer {
	box-shadow: 3px 3px 5px black;
	margin-left: 10%;
	width: 60%;
	float: right;
	border: solid 1px black;
	background-color: #cecbc7; 
	height: 507px;
	border-radius: 15px;
}

.image {
	box-shadow: 3px 3px 5px black;
	max-width: 400px;
	max-height: 300px;
}

.scientific {
	margin: 20px;
}





